body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.card {
  width: 300px;
  background: white;
  padding: 50px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  position: absolute;
}

.dot.tl { top: 10px; left: 10px; }
.dot.tr { top: 10px; right: 10px; }
.dot.bl { bottom: 10px; left: 10px; }
.dot.br { bottom: 10px; right: 10px; }

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(22, 21, 21);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.name {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.role {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.location {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
